body {
  font-family: "Lato" sans-serif;
}
h1 {
  color: #2772db;
  font-weight: bolder;
  font-size: 28px;
  padding: 30px 0 0 0;
}
h2 {
  color: #2772db;
  font-weight: bolder;
  font-size: 28px;
}

h3 {
  color: #3e4a61;
  font-weight: bolder;
  font-size: 20px;
}

p {
  color: #2772db;
  font-weight: bolder;
  font-size: 20px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: bolder;
  color: #3e4a61;
}
footer {
  text-align: center;
  font-weight: bolder;
}
.units .active {
  color: #2772db;
  font-weight: bolder;
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}
.container {
  max-width: 900px;
  padding: 40px;
  margin: 20px, 0, 0, 0;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.col-2 {
  font-weight: bolder;
}
.weather-forecast-date {
  color: #2772db;
  opacity: 0.6;
}
.weather-forecast-max {
  color: #3e4a61;
  text-align: center;
  font-size: 13px;
}
.weather-forecast-min {
  color: #3e4a61;
  text-align: center;
  font-size: 13px;
  opacity: 0.6;
}

.current {
  color: #2772db;
  font-weight: bolder;
  font-size: 30px;
}
.coder {
  font-size: 15px;
  text-align: center;
}
