body {
  font-family: "Lato" sans-serif;
}
h1 {
  color: #2772db;
  font-weight: bolder;
  font-size: 25px;
  margin: 40px, 0;
}
h2 {
  color: #2772db;
  font-weight: bolder;
  font-size: 25px;
}

h3 {
  color: #3e4a61;
  font-weight: bolder;
}

p {
  color: #2772db;
  font-weight: bolder;
  font-size: 20px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: bolder;
  color: #3e4a61;
}
footer {
  text-align: center;
  font-weight: bolder;
}
.units .active {
  color: #2772db;
  font-weight: bolder;
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}
.container {
  max-width: 900px;
  padding: 40px;
  margin: 60px auto;
  background: linear-gradient(
    93.1deg,
    rgb(238, 254, 183) 19.1%,
    rgb(169, 254, 222) 53.9%,
    rgb(90, 222, 255) 92%
  );
}
.col-2 {
  font-weight: bolder;
}
.day {
  color: #2772db;
}

.temp {
  color: #3e4a61;
}
.rainy-icon {
  font-size: 150px;
  color: #2772db;
  padding: 40px 20px;

  margin: 0 auto;
  float: right;
}

.weather {
  padding: 30px;
}
.cloud-icon {
  color: #ffff;
}
.sun-icon {
  color: #ff6f3c;
}

.fa-cloud-rain {
  color: #2772db;
}
.current {
  color: #2772db;
  font-weight: bolder;
  font-size: 30px;
}
.coder {
  font-size: 15px;
}
